/*
  This styleheet containt CSS Flexbox rules
  and media queries...
*/

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.item {
  width: 100%;
}

@media all and (min-width: 900px) {
  .container {
    width: 900px;
    margin: auto;
  }
}

/* HEADER */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.logo {
  width: 30%;
}

.name {
  width: 70%;
}

/* LANDING SECTION */

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.wallpaper, .about_me {
  width: 100%;
}

@media all and (min-width: 700px) {
  .wallpaper, .about_me {
    width: 50%;
  }
}

/* PROJECTS SECTION */

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.project {
  width: 100%;
}

@media all and (min-width: 500px) {
  .project {
    width: 50%;
  }
  @media all and (min-width: 750px) {
    .project {
      width: 33.33%;
    }
  }
}

/* FOOTER SECTION */

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.note, .social_icons {
  width: 100%;
}

@media all and (min-width:500px) {
  .note, .social_icons {
    width: 50%;
  }
}

.social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}