/*
  This styleheet containt CSS Flexbox rules
  and media queries...
*/

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 100%;
}

/* HEADER */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  width: 30%;
}

.name {
  width: 70%;
}

/* LANDING SECTION */

.landing {
  display: flex;
  flex-wrap: wrap;
}

.wallpaper, .about_me {
  width: 100%;
}
